extends layout

block content
  header
    h1= title

  hr

  main
    h2 Candidate Profile
    p Candidate for #{postcode}
    p Candidate's record on #{topic}
    hr
    p
        a(href="/list") Back to the list
  
  hr

  footer
    p
        a(href="/") New Search
