extends layout

block content
  header
    h1= title
  main
    h2 Candidate Profile
    
    img(src="images/turnip320.jpg", alt="A Turnip")

    h3 Details
    ul
      li Constituency: #{postcode}
      li Party: The Turnip Brigade
    hr

    h3 Candidate's Record
    ul
      li Result 1
      li Result 2
      li Result 3
    hr
    
    p
        a(href="/list") Back to the list
    hr
  footer
    p
        a(href="/") New Search
