extends layout

block content
  header
    h1= title

  hr

  main
    h2 Candidate List
    p List goes here
    
    hr
    p
        a(href="/entry") This is a candidate
    p
        a(href="/entry") This is also a candidate

  hr

  footer
    p
        a(href="/") New Search
